@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


a:hover {
    color: grey;
}

main {
    padding-top: 5rem;
}

h5 {
    text-align: center
}

.service:hover {
    @apply translate-y-[-15px] duration-100 opacity-60;
    cursor: pointer;    
}


.footer-icon > div {
    @apply gap-2 flex;
}

